@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url("https://cdn.pixabay.com/photo/2017/06/13/13/55/marble-2398956_960_720.jpg");
    }

    /* Main Container */
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Logo Section */
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .markaLogo {
        max-width: 100%;
        height: auto;
        width: 150px;
        margin: 20px;
    }

    /* Navbar Section */

    .navbar {
        display: flex;
        justify-content: center;
        background: #fff;
        padding: 20px;
        margin: 0px 10px;
        border-radius: 8px;
    }

    .filter-btn {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        background-color: #ffd300;
        color: #333;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 8px;
    }

    .filter-btn:hover {
        background-color: #060606;
        color: #fff;
    }

    .filter-btn.active {
        background-color: #060606;
        color: #fff;
    }

    /* Menu Container */

    #menu-container {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-item {
        flex: 1 1 300px;
        margin: 10px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        display: flex;
        gap: 10px;
    }

    .menu-info {
        width: 100%;
    }

    .item-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .item-description {
        margin-bottom: 10px;
    }

    .item-price {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .item-image {
        width: 120px;
        height: 120px;
    }

    /* Modal Section */

    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* Modal content */
    .modal-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 350px;
        position: relative;
        top: 25%;
        display: flex;
        justify-content: center;
        padding: 50px;
    }

    /* Close button */
    .close {
        color: #aaa;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 24px;
        padding: 0px 10px;
        font-weight: bold;
        background: black;
        border-radius: 50%;
    }

    .close:hover,
    .close:focus {
        color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-family: 'Poppins', sans-serif;
        background-image: url("https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }

    /* Main Container */
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Logo Section */
    .logo {
        text-align: center;
        position: sticky;
        z-index: 3;
        top: 0;
        background: grey;
        background-image: url('https://s3.eu-central-1.amazonaws.com/dijital.menu.assets/photos/5O8l3MmkR9Jsjcxb/hero/menu/c7ccd5d8d24e4a3224b2fe37add69e9d.jpg');
        backdrop-filter: blur(5px);
    }

    .markaLogo {
        max-width: 100%;
        height: auto;
        width: 150px;
        margin: 20px;
    }

    /* Navbar Section */
    .navbar {
        position: sticky;
        top: 130px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
        overflow-y: hidden;
        align-items: center;
        width: 100%;
        height: 95px;
        flex-direction: row;
    }

    .navbar::-webkit-scrollbar {
        display: none;
    }

    .filter-btn {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        background-color: #ffd300;
        color: #333;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 8px;
        font-size: 14px;
        padding: 8px 15px;
        margin-right: 10px;
        height: 50%;
    }

    .filter-btn:hover {
        background-color: #060606;
        color: #fff;
    }

    .filter-btn.active {
        background-color: #060606;
        color: #fff;
    }

    /* Menu Containter */

    #menu-container {
        display: grid;
        padding: 20px;
        grid-template-columns: repeat(2, auto);
        gap: 15px;
    }

    .menu-item {
        display: flex;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        height: 165px;
        width: 165px;
    }

    .menu-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .item-name {
        font-size: 14px;
        font-weight: 700;
    }

    .item-description {
        font-size: 12px;
    }

    .item-price {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .item-image {
        width: 80px;
        height: 80px;
        display: none;
    }

    /* Modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    /* Modal content */
    .modal-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        position: relative;
        top: 25%;
        display: flex;
        justify-content: center;
        padding: 50px;
    }

    /* Close button */
    .close {
        color: #aaa;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 24px;
        padding: 0px 10px;
        font-weight: bold;
        background: black;
        border-radius: 50%;
    }

    .close:hover,
    .close:focus {
        color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
    }
}